@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.sidebar-link{
    transition: 0.3s color ease-in-out;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}
.sidebar-link:hover{
    color: #3F72AF;
}